{% extends "layout.html.twig" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="logo">
        <img src="{{ app.request.basePath }}/img/{{ logo }}">
        <h1 class="slogan">
            Composer 是 PHP 用来管理依赖（dependency）关系的工具。你可以在自己的项目中声明所依赖的外部工具库（libraries），Composer 会帮你安装这些依赖的库文件。
        </h1>
    </div>

    <p class="buttons">
        <a href="{{ path('docs.view', {page: '00-intro.md'}) }}">入门</a>
        <a href="{{ path('download') }}">下载</a>
    </p>
    <p class="buttons">
        <a href="{{ path('docs') }}">文档</a>
        <a href="http://packagist.org/">库列表</a>
    </p>
    <p class="buttons">
        <a href="http://github.com/composer/composer/issues">Issues</a>
        <a href="http://github.com/composer/composer">GitHub</a>
    </p>
{% endblock %}

{% block footer %}
    <h2><a href="http://www.overlooktower.com" target="_blank">尖塔科技</a>提供本网站的翻译以及维护服务</h2>
{% endblock %}
