<!DOCTYPE html>
<html class="no-js" lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block title %}Composer--尖塔科技{% endblock %}</title>
        <meta name="description" content="Composer 是 PHP 用来管理依赖（dependency）关系的工具。你可以在自己的项目中声明所依赖的外部工具库（libraries），Composer 会帮你安装这些依赖的库文件。">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="stylesheet" href="{{ app.request.basePath }}/css/style.css?v=7">
        <link rel="stylesheet" href="{{ app.request.basePath }}/css/libs/prism.css?v=6">

        <script src="{{ app.request.basePath }}/js/libs/modernizr-2.0.6.min.js"></script>
    </head>

    <body>
        <div id="container">
            <header>
                {% block header %}
                {% spaceless %}
                    <a href="{{ path('home') }}">首页</a>
                    <a class="{{ page == 'getting-started' ? 'active':'' }}" href="{{ path('docs.view', {page: '00-intro.md'}) }}">入门</a>
                    <a class="{{ page == 'download' ? 'active':'' }}" href="{{ path('download') }}">下载</a>
                    <a class="{{ page == 'docs' ? 'active':'' }}" href="{{ path('docs') }}">文档</a>
                    <a class="last" href="http://packagist.org/">库列表</a>
                {% endspaceless %}
                {% endblock %}
            </header>
            <div id="main" role="main">
                {% block content %}
                {% endblock %}
            </div>
            <footer>
                {% block footer %}
                {% endblock %}

                <p class="license">Composer and all content on this site are released under the <a href="https://github.com/composer/composer/blob/master/LICENSE">MIT license</a>.</p>
            </footer>
        </div>

        <script src="{{ app.request.basePath }}/js/libs/prism.js?v=6"></script>
    </body>
</html>
